:root {
  --main-color: rgb(0, 112, 243);
  --main-color-25: rgba(0, 112, 243, 0.25);
  --main-color-50: rgba(0, 112, 243, 0.5);
  --main-color-75: rgba(0, 112, 243, 0.75);
  /*font sizes*/
  --base-font-size: 1rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.64rem;
  --smallest-font-size: 0.512rem;
  --heading-X: 3.814rem;
  --heading-0: 3.052rem;
  --heading-1: 2.441rem;
  --heading-2: 1.953rem;
  --heading-3: 1.563rem;
  --heading-4: 1.25rem;
  --heading-5: var(--base-font-size);
  --heading-6: var(--smaller-font-size);
}
body {
  color: #000000;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.75;
  background-color: #222;
  background: url(../assets/images/what-the-hex-dark.png) !important;
}
body,
html {
  margin: 0;
  padding: 0;
  font-size: 100%; /*16px*/
}
p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
main {
  padding: 1rem 0;
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.easy {
  color: green;
}
.medium {
  color: yellow;
}
.hard {
  color: red;
}
.container {
  width: 100%;
  max-width: 800px;
  background-color: #eaeaea10;
  background: var(--main-color-25, rgba(0, 112, 243, 0.25));
  padding: 2rem 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover,
button:active {
  transform: translate3d(0px, -1px, 0px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.gentle-flex-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: var(--heading-4);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* .user-initials-input {
  color: #ffffff;
  display: block;
  background: #00000067;
  margin: auto;
  width: 3.3rem !important;
  text-align: center;
  text-transform: uppercase;
}

.high-score-table {
  color: #ffffff;
  background: transparent;
  text-align: center;
  margin: auto;
  width: 100%;
}
.high-score-table > * {
  font-family: monospace;
}
.border-color-easy,
.border-color-medium,
.border-color-hard {
  border: 4px dashed;
}
.border-color-easy {
  border-color: #008000;
}
.border-color-medium {
  border-color: #ffff00;
}
.border-color-hard {
  border-color: #ff0000;
} */
.resource-credits {
  opacity: 0.85;
  font-size: 10px;
  line-height: 10px;
}
