:root {
  --main-color: rgb(0, 112, 243);
  --main-color-25: rgba(0, 112, 243, 0.25);
  --main-color-50: rgba(0, 112, 243, 0.5);
  --main-color-75: rgba(0, 112, 243, 0.75);
}

body,
html {
  margin: 0;
  padding: 0;
}
body {
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  background-color: #fff;
  background: url(../assets/images/what-the-hex-dark.png) !important;
}
h2 {
  color: #333;
  text-align: center;
}
.easy {
  color: green;
}
.medium {
  color: yellow;
}
.hard {
  color: red;
}
main .container {
  width: 100%;
  max-width: 800px;
  background: var(--main-color-25, rgba(0, 112, 243, 0.25));
  padding: 2rem 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gentle-flex-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

label {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
  width: 100%;
}
form {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover,
button:active {
  transform: translate3d(0px, -1px, 0px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

main {
  padding: 5rem 0;
  max-width: 1040px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
}

.disable-click {
  pointer-events: none;
}

.btn-grv:hover {
  /* color: white; */
  text-decoration: none;
  background: rgb(0, 174, 255);
}

.btn-grv:active {
  clear: both;
  text-decoration: none;
}

.play-btn {
  text-decoration: none;
  border: none;
  border-bottom: 1px ridge #2f231c;
  line-height: 50px;
  color: white;
  background: #006999;
}

.play-btn:hover {
  color: #006999;
  text-decoration: none;
  background: #2f231c;
}

.category-name {
  text-align: center;
  /* display: inline-block; */
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 1em;
}
.category-name > * {
  margin: 0;
}

.bg-grv {
  background: #006999da;
}

.text-grv {
  color: #006999;
}
.btn-grv {
  width: 100%;
  line-height: 18px;
  padding: 1em;
  /* height: 3.14259em; */
  /* background: white; */
  text-decoration: none;
  border: none;
  border-bottom: 1px ridge #2f231c;
  /* float: left; */
}

.btn-grv:last-child {
  border-bottom: none;
}

.question {
  text-align: center;
  font-size: 18px;
  padding: 1em;
}
.user-initials-input {
  color: #ffffff;
  display: block;
  background: #00000067;
  margin: auto;
  width: 3.3rem !important;
  text-align: center;
  text-transform: uppercase;
}

.high-score-table {
  color: #ffffff;
  background: transparent;
  text-align: center;
  margin: auto;
  width: 100%;
}
.high-score-table > * {
  font-family: monospace;
}
.border-color-easy,
.border-color-medium,
.border-color-hard {
  border: 4px dashed;
}
.border-color-easy {
  border-color: #008000;
}
.border-color-medium {
  border-color: #ffff00;
}
.border-color-hard {
  border-color: #ff0000;
}

.submit-button {
  border: none;
  text-decoration: none;
}

.time-display {
  color: #2f231c;
}

.random {
  clear: both;
  color: white;
  font-size: 1em;
  text-align: center;
}
.random > span {
  padding: 0.25rem;
}

.random-modes:hover {
  color: #006999;
  text-decoration: underline;
  cursor: pointer;
}

.resource-credits {
  opacity: .85;
  font-size: 10px;
  line-height: 10px;
}

@media screen and (max-width: 576px) {
  /* .question, */
  .top-row {
    font-size: 1.5em;
  }
}
