body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  background-color: #fff;
  background: url(../assets/images/what-the-hex-dark.png) !important;
}
h2 {
  color: #333;
  text-align: center;
}
main .container {
  width: 100%;
  max-width: 800px;
  background: #0070f351;
  padding: 2rem 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
  width: 100%;
}
form {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover,
button:active {
  transform: translate3d(0px, -1px, 0px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}
header {
  border-bottom: 1px solid #d8d8d8;
}
nav {
  max-width: 1040px;
  margin: auto;
  padding: 1rem 2rem;
}
nav div {
  float: right;
}
nav div a {
  font-size: 0.9rem;
  margin-left: 1rem;
}
nav h1 {
  font-size: 1rem;
  color: #444;
  margin: 0;
  font-weight: 700;
  float: left;
}
nav:after {
  content: '';
  clear: both;
  display: table;
}
main {
  padding: 5rem 0;
  max-width: 1040px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 0.25rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.disable-click {
  pointer-events: none;
}

.btn-grv:hover {
  /* color: white; */
  text-decoration: none;
  background: rgb(0, 174, 255);
}

.btn-grv:active {
  clear: both;
  text-decoration: none;
}

/* misnomer, for now */

.hi-scr-display {
  color: #2f231c;
  font-size: 14px;
}

.selection-screen {
  padding: 1.7569565135131rem;
}

.selection-screen .row {
  height: 4.7em;
}

#container-col {
  color: #ffffff;
  height: auto;
  white-space: normal !important;
  text-align: center !important;
  /* padding: 1em; */
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  /* background: rgba(0, 174, 255, 0.24); */
}

.play-btn {
  text-decoration: none;
  border: none;
  border-bottom: 1px ridge #2f231c;
  line-height: 50px;
  color: white;
  background: #006999;
}

.play-btn:hover {
  color: #006999;
  text-decoration: none;
  background: #2f231c;
}

.play-screen {
  height: 81% !important;
}

#grade-display,
#penalty-display {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: whitesmoke;
  line-height: 1.2em;
}
.category-name {
  text-align: center;
  /* display: inline-block; */
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 1em;
}
.category-name > * {
  margin: 0;
}

.bg-grv {
  background: #006999da;
}

.top-wrap {
  background: rgba(0, 174, 255, 0.24);
}

.text-grv {
  color: #006999;
}

.top-row {
  color: white;
  font-size: 2.25em;
  font-weight: 700;
  padding: 0.2em 0.5em;
  line-height: 1.5em;
}

.btn-grv {
  width: 100%;
  line-height: 18px;
  padding: 1em;
  /* height: 3.14259em; */
  /* background: white; */
  text-decoration: none;
  border: none;
  border-bottom: 1px ridge #2f231c;
  /* float: left; */
}

.btn-grv:last-child {
  border-bottom: none;
}

.question {
  text-align: center;
  font-size: 18px;
  padding: 1em;
}
#initials-form {
  text-align: center;
  border-top: 1px groove;
  margin-top: 1.1rem;
}
#initials-form > * {
  margin: 1rem auto;
}

.user-initials-input {
  color: #ffffff;
  display: block;
  background: #00000067;
  margin: auto;
  width: 3.3rem !important;
  text-align: center;
  text-transform: uppercase;
}

.high-score-table {
  color: #ffffff;
  background: transparent;
  text-align: center;
  margin: auto;
  width: 100%;
}
.high-score-table > * {
  font-family: monospace;
}
.border-color-easy,
.border-color-medium,
.border-color-hard {
  border: 4px dashed;
}
.border-color-easy {
  border-color: #008000;
}
.border-color-medium {
  border-color: #ffff00;
}
.border-color-hard {
  border-color: #ff0000;
}

.submit-button {
  border: none;
  text-decoration: none;
}

.time-display {
  color: #2f231c;
}

.random {
  clear: both;
  color: white;
  font-size: 1em;
  text-align: center;
}
.random > span {
  padding: 0.25rem;
}
#easy-random {
  color: rgb(0, 156, 0);
}
#medium-random {
  color: yellow;
}
#hard-random {
  color: red;
}
.random-modes:hover {
  color: #006999;
  text-decoration: underline;
  cursor: pointer;
}

#resource-credits {
  font-size: 10px;
  line-height: 10px;
}

@media screen and (max-width: 576px) {
  /* .question, */
  .top-row {
    font-size: 1.5em;
  }
}
